# Set indexes
DirectoryIndex index.html index.php

# Set error pages
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

# Disable directory browsing
Options -Indexes

# Fix libwww-perl vulnerability
RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteRule .* ? [F,L]

# Redirect https://glideservers.com to https://www.glideservers.com
RewriteEngine On
RewriteCond %{HTTP_HOST} ^glideservers.com$ [NC]
RewriteRule (.*) https://www.glideservers.com/$1 [R=301,L]
